body {
    font-family: Calibri;
    background: linear-gradient(to bottom, #0f172a, #1e3a8a);
    margin: 0;
    padding: 20px;
    color: #f1f5f9;
}
h5 {
    text-align: center;
    font-size: 22px;
    color: #facc15;
    margin-bottom: 15px;
}
fieldset {
    background: #1e293b;
    border-radius: 15px;
    padding-inline: 40px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
table {
    border-collapse: collapse;
    width: 500px;
    background-color: transparent;
}
td {
    padding: 10px;
    border-bottom: 1px solid #334155;
    color: #e2e8f0;
}
input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #334155;
    background: #0f172a;
    color: #f1f5f9;
    outline: none;
}

select {
    width: 107%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #334155;
    background: #0f172a;
    color: #f1f5f9;
    outline: none;
}
input:focus, select:focus {
    border-color: #facc15;
}
.no-full input {
    width: auto;
    margin-right: 5px;
}
.center-btn {
    text-align: center;
    border: none;
}
.center-btn input {
    width: auto;
    padding: 8px 18px;
    margin: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #2563eb;
    color: white;
    transition: 0.3s;
}
.center-btn input:hover {
    background: #1d4ed8;
    transform: scale(1.05);
}
.center-btn input[type="reset"] {
    background: #64748b;
}
.center-btn input[type="reset"]:hover {
    background: #475569;
}